:root {
    --primary: #FF6B00;
    --primary-010: #CF661B;

    --white: #FFFFFF;

    --grey: #C0C1C2;

    --black: #101010;
    --black-010: #F4B181;

    --red: #FF1D1D;
    --red-010: #da1414;

    --green: #63C132;
    --green-010: #4fa123;
}